/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.home {
	#inner-content {
		margin: 0 auto;
		#quote {
			position: relative;
			img {
				width: 100%;
				margin: 0 auto;
			}
			article {
				bottom: 5%;
				left: 0%;
				font-size: 2em;
			}
		}
	}
}

#meta {
}
