/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/*********************
Here i work
*********************/
#contact-fred {
	width: 40%;
	overflow: hidden;
	color: white;
	.area-title-img {
		position: absolute;
		left: 43%;
		top: 30%;
	}
}

// Web Dev
.webdev-content {
	padding: 20px 20px 200px 40px;
	background-color: white;
	.threecol {
		margin-left: 0;
		margin-right: 40px;
	}
	p {
		font-family: $sans-serif;
	}
	.website {
		margin-top: 40px;
		img {
			max-width: 300px;
			background-color: black;
			&:hover  {
				transform: skewY(2deg);
				transition: all ease-in-out 0.4s;
			}
		}
		.website-url {
			a {
				color: $link-color;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: bold;
			}
			&:hover {
				transform: skewY(-2deg);
				transition: all ease-in-out 0.4s;
			}
		}
		#your-site-here:hover {
			transform: skewY(2deg);
			transition: all ease-in-out 0.4s;
		}
	}
	#mm-folio {
		h3 {
			margin-top: 80px;
		}
	}
}

// Memes page
#movies, #books, #music {
	li {
		// float: left;
		margin: 0 20px 80px 0;
	}
}

#movies {
	li {
		// max-width: 180px;
		img {
			max-width: 300px;
		}
		.movie-wrapper {
			// min-height: 300px;
		}
		.movie-title {
			// text-align: center;
		}
	}
}

#books {
	li {
		.book-wrapper {
			min-height: 170px;
		}
	}
}

#music {
	li {

		.music-wrapper {
			img {
				border-radius: 5px;
			}
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/
#post-navigation {
	margin-bottom: 50px;
	li {
		float:left;
		padding: 20px 20px;
	}
}
.nav {

}

	/* .menu is clearfixed inside mixins.scss */
	.menu {
		ul {
			li {
				a {

					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {
					}
				}

				&:first-child {}
				&:last-child {}

				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */

			/* highlight current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */

/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {


	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

} /* end .entry-content */

/*********************
FOOTER STYLES
*********************/

/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */